<a href="https://colab.research.google.com/github/S1xzy/statkku/blob/main/653020195_8_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) ให้ลบเครื่องหมายวรรคตอนออกจากเพลงต่อไปนี้ให้หมด (punctuation) เช่น , หรือ !

In [14]:
song = "Fly me to the moon\nLet me play among the stars\
        \nLet me see what spring is like on\
        \nA-Jupiter and Mars\nIn other words, hold my hand\
        \nIn other words, baby, kiss me\
        \nFill my heart with song and let me sing forevermore\
        \nYou are all I long for\
        \nAll I worship and adore\
        \nIn other words, please be true\
        \nIn other words, I love You\
        \nFill my heart with song\
        \nLet me sing forevermore\
        \nYou are all I long for, all I worship and adore\
        \nIn other words, please be true\
        \nIn other words\
        \nIn other words\
        \nI LOVE YOU!"
print(song)

Fly me to the moon
Let me play among the stars
Let me see what spring is like on
A-Jupiter and Mars
In other words, hold my hand
In other words, baby, kiss me
Fill my heart with song and let me sing forevermore
You are all I long for
All I worship and adore
In other words, please be true
In other words, I love You
Fill my heart with song
Let me sing forevermore
You are all I long for, all I worship and adore
In other words, please be true
In other words
In other words
I LOVE YOU!

In [3]:
# your code here
import nltk
import string

# Download 'punkt' resource for tokenization
nltk.download('punkt')
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package punkt_tab to /root/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

In [16]:
import string
string.punctuation#[0]

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [19]:
def remove_punctuation(tokens):
    return [word for word in tokens if word not in string.punctuation]

word_tokens = nltk.word_tokenize(song)

print("Tokens without punctuation:")
print(word_tokens[:])

Tokens without punctuation:
['Fly', 'me', 'to', 'the', 'moon', 'Let', 'me', 'play', 'among', 'the', 'stars', 'Let', 'me', 'see', 'what', 'spring', 'is', 'like', 'on', 'A-Jupiter', 'and', 'Mars', 'In', 'other', 'words', ',', 'hold', 'my', 'hand', 'In', 'other', 'words', ',', 'baby', ',', 'kiss', 'me', 'Fill', 'my', 'heart', 'with', 'song', 'and', 'let', 'me', 'sing', 'forevermore', 'You', 'are', 'all', 'I', 'long', 'for', 'All', 'I', 'worship', 'and', 'adore', 'In', 'other', 'words', ',', 'please', 'be', 'true', 'In', 'other', 'words', ',', 'I', 'love', 'You', 'Fill', 'my', 'heart', 'with', 'song', 'Let', 'me', 'sing', 'forevermore', 'You', 'are', 'all', 'I', 'long', 'for', ',', 'all', 'I', 'worship', 'and', 'adore', 'In', 'other', 'words', ',', 'please', 'be', 'true', 'In', 'other', 'words', 'In', 'other', 'words', 'I', 'LOVE', 'YOU', '!']

2) นับคำว่ารัก (love) ทั้งหมดในเพลงดังกล่าว รวมคำที่เขียนด้วยตัวอักษรทั้งพิมพ์ใหญ่และพิมพ์เล็ก

In [21]:
# your code here
#regular expression
import re
count = len(re.findall(r"love", song, re.IGNORECASE))
print(f"จำนวนคำว่า 'love' ทั้งหมดในเพลง: {count}")

จำนวนคำว่า 'love' ทั้งหมดในเพลง: 2

In [29]:
# your code here
freq = nltk.FreqDist(word_tokens)
i = 0
for key,val in freq.items():
  if i<=1000:
    print(str(key) + ':' + str(val))
    i+=1

Fly:1
me:6
to:1
the:2
moon:1
Let:3
play:1
among:1
stars:1
see:1
what:1
spring:1
is:1
like:1
on:1
A-Jupiter:1
and:4
Mars:1
In:7
other:7
words:7
,:7
hold:1
my:3
hand:1
baby:1
kiss:1
Fill:2
heart:2
with:2
song:2
let:1
sing:2
forevermore:2
You:3
are:2
all:3
I:6
long:2
for:2
All:1
worship:2
adore:2
please:2
be:2
true:2
love:1
LOVE:1
YOU:1
!:1

3) นับจำนวนคำทั้งหมดใน song เช่น Fly me to the moon ประกอบด้วย 5 คำ

In [33]:
# your code here
import nltk
words = nltk.word_tokenize(song)
num_words = len(words)

print(f"จำนวนคำทั้งหมดในเพลง: {num_words}")

จำนวนคำทั้งหมดในเพลง: 110

4) นับจำนวนคำที่***ไม่ซ้ำกัน***ใน song และจำนวนครั้งที่แต่ละคำปรากฏ

In [35]:
# your code here
import nltk
words = nltk.word_tokenize(song)
word_counts = nltk.FreqDist(words)

print("จำนวนคำที่ไม่ซ้ำกัน:", len(word_counts))
print("จำนวนครั้งที่แต่ละคำปรากฏ:")
for word, count in word_counts.items():
    print(f"{word}: {count}")

จำนวนคำที่ไม่ซ้ำกัน: 50
จำนวนครั้งที่แต่ละคำปรากฏ:
Fly: 1
me: 6
to: 1
the: 2
moon: 1
Let: 3
play: 1
among: 1
stars: 1
see: 1
what: 1
spring: 1
is: 1
like: 1
on: 1
A-Jupiter: 1
and: 4
Mars: 1
In: 7
other: 7
words: 7
,: 7
hold: 1
my: 3
hand: 1
baby: 1
kiss: 1
Fill: 2
heart: 2
with: 2
song: 2
let: 1
sing: 2
forevermore: 2
You: 3
are: 2
all: 3
I: 6
long: 2
for: 2
All: 1
worship: 2
adore: 2
please: 2
be: 2
true: 2
love: 1
LOVE: 1
YOU: 1
!: 1

5) เปลี่ยนข้อความใน song ให้กลับด้านคำทั้งหมด เช่น Fly me to the moon เป็น moon the to me Fly

In [40]:
# your code here
import nltk
sentences = nltk.sent_tokenize(song)

reversed_sentences = []
for sentence in sentences:
    words = nltk.word_tokenize(sentence)
    reversed_words = words[::-1]  # reverse function
    reversed_sentence = " ".join(reversed_words)
    reversed_sentences.append(reversed_sentence)

reversed_song = "\n".join(reversed_sentences)
print(reversed_song)

! YOU LOVE I words other In words other In true be please , words other In adore and worship I all , for long I all are You forevermore sing me Let song with heart my Fill You love I , words other In true be please , words other In adore and worship I All for long I all are You forevermore sing me let and song with heart my Fill me kiss , baby , words other In hand my hold , words other In Mars and A-Jupiter on like is spring what see me Let stars the among play me Let moon the to me Fly

6) จากข้อมูลต่อไปนี้ สร้างคอลัมน์ใหม่ ได้แก่ Firstname, Lastname, Weekday และ Country
* Firstname แยกชื่อจาก Fullname
* Lastname แยกนามสกุลจาก Fullname
* Weekday วันเกิดคือวันอะไร (Monday - Sunday)
* Country แยกประเทศจาก Address

In [44]:
import pandas as pd
df = pd.DataFrame({"Fullname": ["Pitch Wiratch", "Sam Sonite", "Mickey Mouse", "Felonius Gru"],
                   "Birthdate": ["15/05/2015", "10/03/1910", "18/11/1928", "28/09/1960"],
                   "Address": ["555 KKU Village, Khon Kaen, Thailand, 40000",
                               "13-15 avenue de la Liberté, Luxembourg, 1931",
                               "1375 Lake Buena Vista, FL, USA, 32830",
                               "1234 Albuquerque, New Mexico, USA, 87777"]})
df

        Fullname   Birthdate                                       Address
0  Pitch Wiratch  15/05/2015   555 KKU Village, Khon Kaen, Thailand, 40000
1     Sam Sonite  10/03/1910  13-15 avenue de la Liberté, Luxembourg, 1931
2   Mickey Mouse  18/11/1928         1375 Lake Buena Vista, FL, USA, 32830
3   Felonius Gru  28/09/1960      1234 Albuquerque, New Mexico, USA, 87777

In [46]:
# your code here
# Firstname and Lastname
import pandas as pd
df[['Firstname', 'Lastname']] = df['Fullname'].str.split(' ', n=1, expand=True)

# Change Weekdays to day
df['Birthdate'] = pd.to_datetime(df['Birthdate'], format='%d/%m/%Y')
df['Weekday'] = df['Birthdate'].dt.day_name()

# Seperate Country from the address
df['Country'] = df['Address'].str.split(', ').str[-2]

df

,Fullname,Birthdate,Address,Firstname,Lastname,Weekday,Country
0,Pitch Wiratch,2015-05-15,"555 KKU Village, Khon Kaen, Thailand, 40000",Pitch,Wiratch,Friday,Thailand
1,Sam Sonite,1910-03-10,"13-15 avenue de la Liberté, Luxembourg, 1931",Sam,Sonite,Thursday,Luxembourg
2,Mickey Mouse,1928-11-18,"1375 Lake Buena Vista, FL, USA, 32830",Mickey,Mouse,Sunday,USA
3,Felonius Gru,1960-09-28,"1234 Albuquerque, New Mexico, USA, 87777",Felonius,Gru,Wednesday,USA

7) ให้คัดแยกอีเมลทั้งหมดจากข้อความต่อไปนี้

In [50]:
text = "In the heart of the city, Emily navigated daily chaos in her bustling office. \nEvery morning, Emily boarded a bus from redline@bus.com, finding solace in the routine. \nAmid the rhythmic motion of the bus, she exchanged tired smiles with fellow passengers, \nwhose email addresses are jason.patel@gmail.com, redpanda123@hotmail.com, and chachacha555@kkumail.com. \nConversations buzzed about projects and deadlines, creating a unique camaraderie."
print(text)

In the heart of the city, Emily navigated daily chaos in her bustling office.
Every morning, Emily boarded a bus from redline@bus.com, finding solace in the routine.
Amid the rhythmic motion of the bus, she exchanged tired smiles with fellow passengers,
whose email addresses are jason.patel@gmail.com, redpanda123@hotmail.com, and chachacha555@kkumail.com.
Conversations buzzed about projects and deadlines, creating a unique camaraderie.

In [55]:
# your code here
import re
#Set regular expression pattern
email_pattern = r"[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"

#Find the matches in the text
emails = re.findall(email_pattern, text)

print("Extracted emails:")
for email in emails:
    print(email)

Extracted emails:
redline@bus.com
jason.patel@gmail.com
redpanda123@hotmail.com
chachacha555@kkumail.com

8) สร้าง 2-gram และ 3-gram tokens จากข้อความต่อไปนี้

In [56]:
pooh = "A day without a friend is like a pot without a single drop of honey."
print(pooh)

A day without a friend is like a pot without a single drop of honey.

In [59]:
# your code here
import nltk

words = nltk.word_tokenize(pooh)
two_grams = list(nltk.ngrams(words, 2))
three_grams = list(nltk.ngrams(words, 3))

print("2-gram tokens:")
for gram in two_grams:
    print(gram)

print("\n3-gram tokens:")
for gram in three_grams:
    print(gram)

2-gram tokens:
('A', 'day')
('day', 'without')
('without', 'a')
('a', 'friend')
('friend', 'is')
('is', 'like')
('like', 'a')
('a', 'pot')
('pot', 'without')
('without', 'a')
('a', 'single')
('single', 'drop')
('drop', 'of')
('of', 'honey')
('honey', '.')

3-gram tokens:
('A', 'day', 'without')
('day', 'without', 'a')
('without', 'a', 'friend')
('a', 'friend', 'is')
('friend', 'is', 'like')
('is', 'like', 'a')
('like', 'a', 'pot')
('a', 'pot', 'without')
('pot', 'without', 'a')
('without', 'a', 'single')
('a', 'single', 'drop')
('single', 'drop', 'of')
('drop', 'of', 'honey')
('of', 'honey', '.')

9) ให้รวบรวมคำที่ไม่ซ้ำกันในข้อความ pooh แล้วแสดงโดยเรียงตามลำดับตัวอักษรตามพจนานุกรม

In [61]:
# your code here
import nltk

#sort alphabetically
words = nltk.word_tokenize(pooh)
unique_words = sorted(set(words))

#print tne words
print("Unique words in alphabetical order:")
for word in unique_words:
    print(word)

Unique words in alphabetical order:
.
A
a
day
drop
friend
honey
is
like
of
pot
single
without